<section id="login-form">
  <form 
    fxLayout="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px" 
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input 
        matInput 
        type="email"
        placeholder="Enter your email"
        formControlName="email">
      <mat-hint>Please enter a valid email.</mat-hint>
      <mat-error>Invalid or missing email.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input 
        matInput 
        type="password" 
        placeholder="Enter your password" 
        formControlName="password">
      <mat-hint>Please enter a your password.</mat-hint>
      <mat-error>Invalid or missing password.</mat-error>
    </mat-form-field>

    <button 
      type="submit" 
      mat-raised-button 
      [disabled]="loginForm.invalid" 
      color="primary">Login</button>
  </form>
</section>
